# dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# production builds
frontend/build/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
